@page
@model ProfileSetupModel;
@{
    ViewData["Title"] = "Fill Out This Information";
    ViewData["ActivePage"] = ManageNavPages.ProfileSetup;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}